body {
    background-color: #141526;
    color: white;
    font-size: 1rem;
    font-family: 'Montserrat',
        sans-serif;
        overflow: hidden;
}
.__container{
    width: 80vw;
    margin: 1rem auto;
}

/* navbar set */
ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li {
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    flex:1;
    text-align: right;
}
li:first-child{
    text-align: left;
    flex: 2;
}

/* speed info */

.speed{
    /* border: 1px solid rgb(136, 0, 247); */
    display: grid;
    grid-template-columns: 200px 200px 200px;
    text-align: center;
    grid-gap: 10px;
    margin: auto;
    margin-top: 15vh;
    justify-content: center;
}
.ping{
    font-weight: bold;
    text-transform: uppercase;
}
.download{
    text-transform: uppercase;
    font-weight: bold;
}
.upload{
    text-transform: uppercase;
    font-weight: bold;
}

/* start button */

.startBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    background-color: teal;
    border-radius: 50%;
    margin: auto;
    margin-top: 10vh;
    cursor: pointer;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    /* animate */
    animation: pulse 2s infinite reverse;
}
.startBtn:hover{
    animation: scale .7s ease-in-out infinite alternate-reverse;
    ;
}
@keyframes scale {
    0% {
       scale: 1.2;
    }

   
}

@keyframes pulse {
    0% {
        background-color: #0277bd;
    }

    50% {
        background-color:#3486ac;
    }
    100% {
        background-color:#0277bd;
    }
}

/* main speedometer */

#speedometer{
    /* border: 1px solid red; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    visibility: hidden;
    width: 0px;
    height: 0;
    transition: .5s .5s;
}
.d_none{
    display: none;
}